nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}
.LOGO {
  align-self: center;
  margin-left: 15px;
}
.LOGO img {
  max-width: 150px;
}
.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding-right: 45px;
  position: relative;
}
.nav-list {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}
.nav-list a {
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: white;
}
.contact {
  padding: 2px 5px;
  border: 2px solid white;
  border-radius: 20px;
}
.main img {
  width: 100%;
  position: relative;
  top: -20px;
  z-index: 1;
  height: 90vh;
}
.title {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0); /* Optional: Semi-transparent background */
  padding: 20px;
  position: absolute;
  z-index: 100;
}
.title h1 {
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.client {
  margin-top: 80px;
  color: #404040;
  text-align: center;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.brands {
  width: 100%;
}
.brands img {
  width: 85%;
  padding: 30px 100px;
}
